.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  background-color: antiquewhite;
}

.sidebar {
  flex-grow: 1;
  background-color: #999999;
}

.sidebar .title {
  background-color: #CCCCCC;
  border: 2px outset #CCCCCC;
  padding: 4px;
}

.App > .content {
  flex-grow: 6;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  border: 2px outset #CCCCCC;
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.panel .content {
  flex-grow: 1;
  justify-content: center;
  padding-top: 50px;
  background-color: white;

}

.panel .controls {
  background-color: #EEEEEE;
  padding: 8px;
  justify-content: space-between;
}

.panel .controls a {
  font-size: 8px;
  padding: 4px 8px;
  border: 1px outset #CCC;
}